/* @media used to resize image according to big vs. small screen sizes */
@media (min-width: 500px) {
    img {
        width: 500px;
        border: 1px solid black;
        margin-bottom: 10px;
    }
}

@media (max-width: 499px) {
    img {
        width: 250px;
        border: 1px solid black;
        margin-bottom: 10px;
    }
}
